body {
  background-color: green;
}

h1 {
  color: white;
  font-size: 24px;
  font-family: arial, Helvetica, sans-serif;
}

img{
  width: 100%;
}

p, ul {
  color: white;
  font-family: arial, helvetica
}

.name {
  background-color: black;
  padding-left: 10px;
  border: 1px solid black;
}

.footer {
  background-color: black;
    color: white
}
